body
{
    margin:0;
    padding:0;
}
h1
{
    background-color: yellow;
    color:black;
    text-align: center;
    padding:20px;
    margin:0;
}
.section-one
{
    background-color: black;
    color:white;
    padding:60px;
}
.section-one .btn
{
    background-color: yellow;
    color:black;

}
.btn
{
    display: inline-block;
    padding:10px 35px;
    text-decoration: none;
    font-weight:bold;
}
.section-two .btn
{
    background-color:black;
    color:yellow;
}
.section-two
{
    padding:60px;
}
.section-one a
{
    color:yellow;
}
.section-two a
{
    color:black;
}
p
{
    padding:15px 0px;
}